<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Вече использует микрофон для голосовой связи в голосовых палатахъ</string>
    <key>NSCameraUsageDescription</key>
    <string>Вече использует камеру для демонстрации экрана</string>
    <key>NSScreenCaptureDescription</key>
    <string>Вече использует запись экрана для демонстрации экрана въ голосовыхъ палатахъ</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.veche.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>veche</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
